<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255454075630-ep0jtio8r6untos6vsl4hcnk9pvl1bh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255454075630-ep0jtio8r6untos6vsl4hcnk9pvl1bh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDo4D9NX1yz_IK47cHihswkIEqd8ZqqZlM</string>
	<key>GCM_SENDER_ID</key>
	<string>255454075630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pinpointsample</string>
	<key>PROJECT_ID</key>
	<string>pinpointsample-7f18f</string>
	<key>STORAGE_BUCKET</key>
	<string>pinpointsample-7f18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255454075630:ios:011e7bd87fd0756f</string>
	<key>DATABASE_URL</key>
	<string>https://pinpointsample-7f18f.firebaseio.com</string>
</dict>
</plist>